absl-py==0.7.1
affine==2.2.2
astor==0.7.1
astroid==2.2.5
attrs==19.1.0
autopep8==1.4.4
Boruta==0.1.5
certifi==2019.9.11
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
colorama==0.4.1
cycler==0.10.0
Cython==0.29.12
DateTime==4.3
enum34==1.1.6
future==0.18.0
gast==0.2.2
GDAL==2.3.3
geojson==2.4.1
geomet==0.2.0.post2
grpcio==1.20.1
h2o==3.26.0.6
h5py==2.9.0
html2text==2018.1.9
idna==2.8
imagecodecs==2019.5.22
imbalanced-learn==0.4.3
imblearn==0.0
isort==4.3.21
joblib==0.13.2
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
llvmlite==0.29.0
Markdown==3.1.1
matplotlib==3.1.1
mccabe==0.6.1
mkl-fft==1.0.13
mkl-random==1.0.4
mock==3.0.5
numba==0.44.1
numpy==1.16.4
opencv-contrib-python==4.1.0.25
opencv-python==4.1.0.25
pandas==0.25.0
pandas-ml==0.6.1
pbr==5.1.3
protobuf==3.7.1
pycodestyle==2.5.0
pydensecrf==1.0rc3
pylint==2.3.1
pyparsing==2.4.0
pyreadline==2.1
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1
rasterio==1.0.21
requests==2.21.0
scikit-learn==0.21.2
scipy==1.2.1
seaborn==0.9.0
sentinelsat==0.13
six==1.12.0
sklearn==0.0
snuggs==1.4.6
tabulate==0.8.5
tensorboard==1.13.1
tensorflow>=1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
tifffile==2019.7.2
tqdm==4.31.1
typed-ast==1.4.0
urllib3==1.24.3
Werkzeug==0.15.3
wincertstore==0.2
wrapt==1.11.2
xgboost==0.82
zope.interface==4.6.0
